.body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

::-webkit-scrollbar {
    display: none;
}

.graphic {
    width: 148vw;
    height: 145vh;
    display: flex;
    align-items: center;
    position: absolute;
    top: -17vh;
    left: -25.5vw;
}

#Water1 {
    animation: wave 12s infinite;
    transition: ease-in-out;
}
#Water4 {
    animation: wave 16s infinite;
    transition: ease-in-out;
}
#Water2 {
    animation: wave3 8s infinite;
    transition: ease-in;
}
#Water3 {
    animation: wave2 8s infinite;
    transition: ease-in;
}

#Surfboard {
    cursor: pointer;
}
#wholeCrab {
    transition: transform 0.5s ease;
    transform-origin: center;
}
#LArm, #RArm {
    animation: crabarms 1s infinite;
}

#LifePreserver {
    transition: transform 0.3s ease;
    cursor: pointer;
    transform-origin: 50% 100%;
}

#Paradise {
    user-select: none;
    animation: intro 5s;
    transition: ease-in;
}

#LLeaf1, #LLeaf3, #LLeaf4, #LLeaf7 {
    animation: sway 6s infinite;
    transition: ease-in;
}
#LLeaf2, #LLeaf5, #LLeaf6 {
    animation: sway2 6s infinite;
    transition: ease-in-out;
}

#RLeaf1, #RLeaf3 {
    animation: sway 6s infinite;
    transition: ease-in-out;
}
#RLeaf5, #RLeaf6 {
    animation: sway2 6s infinite;
    transition: ease-in-out;
}
#RLeaf4, #RLeaf7, #RLeaf2 {
    animation: sway3 6s infinite;
    transition: ease-in-out;
}

#Leaf1, #Leaf2, #Leaf4{
    animation: sway3 6s infinite;
    transition: ease-in-out;
}
#Leaf3, #Leaf4-2 {
    animation: sway 6s infinite;
    transition: ease-in-out;
}

.shake {
    animation: shake 0.1s ease-in-out;
}
.fall {
    animation: fall 0.5s forwards;
}

#ClosedBrella, #OpenBrella {
    transition: opacity 0.5s ease;
}
.hidden {
    opacity: 0;
    pointer-events: none;
}

@keyframes wave {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}
@keyframes wave2 {
    0%, 100% {
        transform: scaleY(100%);
    }
    50% {
        transform: scaleY(101%)
    }
}
@keyframes wave3 {
    0%, 100% {
        transform: scaleY(100%);
    }
    50% {
        transform: scaleY(103%)
    }
}
@keyframes crabarms {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px)
    }
}
@keyframes intro {
    0% {
        transform: translateY(-500px);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes sway {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(0.1deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
@keyframes sway2 {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-0.1deg);
    }
    75% {
        transform: rotate(0.1deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
@keyframes sway3 {
    0% {
        transform: rotate(0deg)
    }
    25% {
        transform: rotate(0.1deg)
    }
    65% {
        transform: rotate(-0.1deg);
    }
    100% {
        transform: rotate(0deg)
    }
}
@keyframes shake {
    0% { transform: translate(0); }
    25% { transform: translate(-4px); }
    50% { transform: translate(3px); }
    75% { transform: translate(-4px); }
    100% { transform: translate(0); }
}
@keyframes fall {
    0% { transform: translateY(0); }
    100% { transform: translateY(100px); opacity: 0; }
}